certifi==2021.5.30
decorator 
entrypoints 
future==1.0.0
imbalanced-learn==0.8.1
imblearn==0.0
ipykernel 
ipython==5.8.0
ipython-genutils 
joblib==1.1.1
jupyter-client==5.3.4
jupyter-core==4.9.2
numpy==1.18.1
pandas==1.1.5
pexpect 
pickleshare 
prompt-toolkit==1.0.15
ptyprocess 
Pygments 
python-dateutil 
pytz==2024.1
pyzmq==19.0.2
scikit-learn==0.24.2
scipy==1.5.4
simplegeneric==0.8.1
six 
threadpoolctl==3.1.0
torch==1.6.0
tornado 
traitlets 
wcwidth 
